<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='home.css' ) }} />

</head>

<body>
	<div class="parent">
		<div class="formcontainer">
			<p class="info">Look up songs by Singer artist id</p>
			<form method="POST" action="#" class="form">
				<input class="input" type="text" name="id">
				<input class="submit" type="submit" name="ok">
			</form>

		</div>


	</div>




	{% if data %}
	<div class="else">
		<p>{{data}}</p>
	</div>


	{% else %}

	<div class="container">
		<div class="tracks">
			<div class="picalbum">
				<img src="{{song_image_url}}" alt="">
			</div>
			<p class="artistname">{{song_artist}} </p>
			<p class="artistname">{{song_name}} </p>
			<audio class="audio" controls src="{{preview_url}}"></audio>
			<div class="lyrics-parent">
				<a class="lyrics" , href="{{genius_url}}">LYRICS</a>
			</div>

		</div>


	</div>


	{% endif %}






















</body>

</html>